
{
      "Name":"UserAccountName_UserRepo1",
      "Tags":["weather1","travel1"],
      "Algorithms":["search1","sort1"],
      "DataSets":["dsds1","dsds2"],
      "Type":"GitRepo",
      "Url":"https://github.com/UserAccountName/UserRepo1.git"
      "IconUrl":"http://www.google.com/icon.png"
      "Description":"This repo is for weather related stuff."
}
